<div class="timeline">
  <header class="timeline-header">
    <div class="site-info">
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
      {% endif %}
      <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p class="site-description">{{ site.description }}</p>
    </div>
  </header>

  <div class="timeline-events">
    {% for nav in site.navigation %}
    <div class="timeline-event">
      <div class="timeline-bullet"></div>
      <div class="timeline-content">
        <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
      </div>
    </div>
    {% endfor %}
  </div>

  <footer class="timeline-footer">
    {% include footer.html %}
  </footer>
</div>
